<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/dasboard.css">
    <title>Dash Board</title>
</head>

<body>
    <div class="itext">
        <div class="logo">
            <img class="logoimg" src="../assets/logo.png" alt="logo">
            <div>
                <span class="emp">EMPLOYEE</span>
                <span class="pay">PAYROLL</span>
            </div>
        </div>
    </div>
    <div class="maincont">
        <div class="subcont">
            <div class="empdtl">
                Employee Details
            </div>
            <div class="srcadd">
                <textarea class="search" cols="3" rows="2"></textarea>
                <div class="addbtn" onclick="location.href='./employeeform.html'">
                    <div class="plus">
                        <img src="../assets/add-24px.svg" alt="Plus Icon">
                    </div>
                    <div>Add User</div>
                </div>
            </div>
        </div>
        <div class="maintable">
            <table class="table">
                <tr>
                    <th>NAME</th>
                    <th>GENDER</th>
                    <th>DEPARMENT</th>
                    <th>SALARY</th>
                    <th>START DATE</th>
                    <th>ACTION</th>
                </tr>
                <tr>
                    <td>
                        <div class="name">
                            <img class="profile" src="/assets/prof1.png" alt="">
                            <div>Amit Kumar Nayak</div>
                        </div>
                    </td>
                    <td>Female</td>
                    <td>
                        <div class="name">
                            <div class="dgn">Sales</div>
                            <div class="dgn">HR</div>
                            <div class="dgn">Finance</div>
                        </div>
                    </td>
                    <td>
                        <div class="salary">
                            <img src="/assets/attach_file-24px.svg" alt="">
                            <div>1000</div>
                        </div>
                    </td>
                    <td>29 Jan 2020</td>
                    <td>
                        <div class="action">
                            <img src="/assets/delete-black-18dp.svg" alt="">
                            <img src="/assets/create-black-18dp.svg" alt="">
                        </div>

                    </td>
                </tr>
            </table>
        </div>
    </div>

</body>

</html>